*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
nav{
    width: 100%;
    display: flex;
    height: 65px;
    font-size: 18px;
    font-weight: bold;
    background-color: black;
    position: fixed;
    top: 0px;
}
#logo{
    font-size: 28px;
}
#navMenu{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    cursor: pointer;
}
#logout_btn{
    background-color: black;
    border: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
.navDiv{
    cursor: pointer;
    margin: auto 3% auto 3%;
}
a{
    text-decoration: none;
}
#searchBox{
    display: flex;
    gap: 2%;
    
}
#searchBox input{
    text-align: center;
    padding: 5px;
    width: 100%;
    border-radius: 8px;
    overflow-x: scroll;
    overflow-y: hidden;
    color: black;
}
#searchBox button{
    color: black;
    padding: 0 5px;
    border-radius: 8px;
}
#searchBox button:hover{
    background-color: black;
    color: white;
}
#hrLine{
    border-top: 3px solid grey;
    width: 100%;
}
/* slide_Show */
#slideShow{
    width: 100%;
    height: 300px;
    margin: auto;
    margin-top: 65px;
    display: flex;
    justify-content: space-around;
    background-image: url("https://media.istockphoto.com/vectors/marquee-and-curtain-background-vector-id1208666888?k=20&m=1208666888&s=612x612&w=0&h=w7GeXnFfWA3oCYhy-bXUJJaS0X5Tm68G9wFqEyMYYhs=");
    background-size: cover;
    background-repeat: no-repeat;
}
#slideShow img{
    width: 72%;
    height: 90%;
}
/* main body */
#moviesList{
    display: grid;
    grid-template-columns: repeat(3, 28%);
    justify-content: space-around;
    gap: 22px;
    background-color: black;
    padding-bottom: 22px;
    padding: 0px 38px;
}
#moviesList img{
    width: 100%;
    height: 350px;
    border-radius: 8px;
}
#moviesList button{
    background-color: green;
    width: 50%;
    margin: auto;
    padding: 8px;
    cursor: pointer;
}
.moviBox{
    border: 1px solid green;
    border-radius: 8px;
    text-align: center;
    background-color: rgb(53, 49, 49);
    cursor: pointer;
    height: 510px;
}
.moviName{
    font-size: 18px;
    font-weight: bold;
    margin: 8px 0;
}
#heading{
    background: black;
    padding: 2% 3%;
}
#heading p{
    margin: 10px 0;
}
.sort_btn{
    padding: 5px 10px;
    background-color: rgb(58, 53, 53)
}
.sort_btn:hover{
    background-color: grey;
}
/* footer */
footer{
    width: 100%;
    padding: 20px 0;
    background-color: black;
}
#footBox{
    display: flex;
    gap: 22px;
    justify-content: space-around;
}
#cpright{
    margin: 20px auto;
    width: 55%;
}

/* ------------------- */

#recomTag{
    color: rgb(8, 56, 8);
    background-color: rgb(185, 122, 111);
    border-radius: 8px 8px 0 0;
}